#body{
    background-color: #352f5b;
}
.todos li{
    min-width: 20%;
    text-align: center;
    background-color: #423a6f;
    display: flex;
    justify-content: space-between;
}
input[type='text']{
    width: 30%;
}
.hidden{
    display: none !important ;
}